<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <% if ( userFullName ) { %>
        <h2>Hello <%= userFullName %></h2>
        <a href="/signout">Sign Out</a>
        <% } else { %>
        <a href="/signup">Sign Up</a>
        <a href="/signin">Sign In</a>
        <% } %>
        <h1><%= title %></h1>
        <img src="img/logo.jpg" alt="logo">
    </body>
</html>